@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans JP';
    background: #fafafc; 
    color: #332c49; 
}

.main {
    width: 100vw;
    height: 100vh;
    padding: 60px; 
    box-sizing: border-box;
}

.title h1 {
    margin: 0;
    font-weight: 500;
    font-size: 34px;
}

.content {
    margin-top: 40px; 
    display: flex;
    justify-content: space-between;
}

.left-menu {
    width: 30%; 
}

.objectives h2 {
    margin: 0; 
    font-weight: 500;
    font-size: 20px;
}

.add-habit {
    background-color: #fff;
    border-radius: 10px;
    margin-right: 40px; 
    padding: 20px; 
    margin-top: 20px; 
    box-sizing: border-box;
}

.add-habit_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-habit_input {
    flex-grow: 1;  
    height: 20px; 
    border: none; 
    font-family: 'Noto Sans JP';
}

.add-habit_input:focus {
    outline: none; 
}

.add-habit_btn {
    background-color: #f8d57e; 
    color: #fff;
    border: none; 
    font-weight: 600; 
    border-radius: 10px; 
    padding: 5px 10px; 
    cursor: pointer;
    outline: none;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    width: 46px;
    height: 50px;
}

.tooltip {
    position: absolute; 
    background: #AFB1B3; 
    color: #fff; 
    font-size: 12px;
    width: 120px; 
    margin-left: 10px; 
    text-align: center;
    border-radius: 5px; 
    padding: 5px; 
    visibility: hidden; 
}

.tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #AFB1B3 transparent transparent;
}

.restart-btn {
    background-color: #eceff2;
    font-weight: 600; 
    cursor: pointer;
    border: none; 
    outline: none;
    padding: 5px 10px; 
    border-radius: 5px; 
    margin-top: 20px; 
}

.fa-undo-alt {
    font-size: 12px; 
}

.habits {
    margin-top: 30px; 
    margin-left: 20px; 
    margin-bottom: 10px; 
}

.user-habit {
    display: flex;
    font-size: 18px; 
    margin-top: 10px; 
}

.checkbox {
    display: flex; 
}

.remove-habit {
    font-size: 12px; 
    cursor: pointer;
    color: #D4D7D9;
    background: none;
    border: none; 
    outline: none;
    align-self: flex-start; 
    margin-right: 5px; 
    visibility: hidden;
}

.user-habit:hover .remove-habit {
    visibility: visible;
}

.checkbtn {
    border: none; 
    font-size: 18px; 
    outline: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    width: 40px; 
}

.button0 {
    background-color: rgba(0, 214, 255, 0.2);
    color: #00D6FF; 
}

.button1 {
    background-color: rgba(255, 135, 185, 0.2);
    color: #FF87B9; 
}

.button2{
    background-color: rgba(87, 190, 98, 0.2); 
    color: #57BE62; 
}

.button3 {
    background-color: rgba(254, 139, 56, 0.2); 
    color: #FE8B38; 
}

.checked-habit {
    position: relative;
}

.checked-habit::after {
    content: '✓';
    color: rgba(51, 44, 73, 0.5);
    font-weight: 800;
    font-size: 22px; 
    background-color: rgba(250, 250, 252, 0.6);
    width: 40px;
    height: 30px; 
    position: absolute;
    border-radius: 5px;
    top: 0; 
    left: 0; 
}

.habit-description {
    margin-left: 10px; 
}

.add-habit-calendar { 
    position: absolute; 
    top: 60px; 
    background: #fff; 
    border-radius: 10px;
    padding: 20px; 
}

.select-habit {
    cursor: pointer; 
    margin-left: 10px;
}

.tracker {
    flex-grow: 1; 
}

.tracker table {
    background-color: #fff; 
    border-radius: 10px;
    width: 100%; 
    padding: 10px; 
}

tr {
    display: flex; 
}

td {
    text-align: center; 
    width: 100%; 
    height: 90px; 
    border: 1px solid #fafafc; 
    vertical-align: top;
    display: flex; 
    flex-direction: column;
}

.day {
    background: none;
    border: none; 
    cursor: pointer;
    font-family: 'Noto Sans JP';
    outline: none;
    width: 30px; 
    height: 30px; 
    align-self: center; 
}

.day-highlight {
    background-color: #f8d57e;
    border-radius: 50%;  
    color: #fff; 
}

.selected-day {
    background-color: #D4D7D9;
    border-radius: 50%;  
    color: #fff; 
}

.colorHabit {
    margin-top: 5px; 
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
}

.main-habit {
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1; 
    border-radius: 3px;
}

.orange-habit {
    border: 1px solid #FE8B38;
    background-color: rgba(254, 139, 56, 0.2);
}

.green-habit {
    border: 1px solid #57BE62; 
    background-color: rgba(87, 190, 98, 0.2); 
}

.pink-habit {
    border: 1px solid #FF87B9; 
    background-color: rgba(255, 135, 185, 0.2);
}

.blue-habit {
    border: 1px solid #00D6FF; 
    background-color: rgba(0, 214, 255, 0.2);
}

@media only screen and (max-width: 1160px) {
    .content {
        flex-direction: column; 
    }
    .add-habit-calendar {
        top: 350px; 
    }
    .left-menu {
        display: flex;
        flex-direction: row;
        width: auto; 
        justify-content: space-between;
    }
    .habits {
        margin: 0; 
    }
    .tracker {
        margin-bottom: 60px; 
        margin-top: 130px; 
    }
}